<div class="container-fluid">
    <div class="row">
        <div class="col-12">

        </div>
    </div>

    <div class="row">
        <div class="col-8 text-center mt-3">
            <h1>Material</h1>
        </div>
        <div class="col">
            <button class=" mi-btn rojo-marron mb-2 container-fluid">Agregar Material</button>
            <input type="text" class="form-control" placeholder="Buscar material">
        </div>
    </div>
</div>


<div class="container-fluid mt-3">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Fecha de Compra</th>
                <th scope="col">Nombre Proveedor</th>
                <th scope="col">Cantidad en Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Producto 1</td>
                <td>$29.99</td>
                <td>2024-03-28</td>
                <td>Proveedor A</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Producto 2</td>
                <td>$49.99</td>
                <td>2024-03-27</td>
                <td>Proveedor B</td>
                <td>75</td>
            </tr>
            <tr>
                <td>Producto 3</td>
                <td>$19.99</td>
                <td>2024-03-26</td>
                <td>Proveedor C</td>
                <td>150</td>
            </tr>
            <tr>
                <td>Producto 4</td>
                <td>$39.99</td>
                <td>2024-03-25</td>
                <td>Proveedor A</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Producto 5</td>
                <td>$59.99</td>
                <td>2024-03-24</td>
                <td>Proveedor B</td>
                <td>90</td>
            </tr>
            <!-- Puedes agregar más filas según sea necesario -->
        </tbody>
    </table>
</div>
