<div class="container-fluid">
    <div class="row">
        <div class="col-12">

        </div>
    </div>

    <div class="row">
        <div class="col-8 text-center mt-3">
            <h1>Profesionales</h1>
        </div>
        <div class="col">
            <button class="mi-btn rojo-marron mb-2 container-fluid">Agregar profesional</button>
            <input type="text" class="form-control mb-2" placeholder="Buscar profesional">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        @for (profesional of profesionals; track profesional) {
        <div class="col-md-3 mb-4">
            <mat-card class="card">
                <a [routerLink]="['/profesionales/ver-profesional/', profesional.id]">

                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{profesional.name}}</mat-card-title>
                    </mat-card-header>
                    <img src="../../../assets/img/persona1.jpeg" class="card-img-top" alt="Imagen del Trabajador 1">
                    <mat-card-content>
                        <br>
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>
                                    Oficios
                                </mat-card-title>
                                <mat-card-subtitle>
                                    @for(oficio of profesional.profesion; track oficio){
                                    <p class="card-text">{{oficio.name }}</p>
                                    }
                                </mat-card-subtitle>
                            </mat-card-header>

                        </mat-card>

                    </mat-card-content>


                </a>
            </mat-card>
        </div>}


    </div>
</div>

<!-- <td><a  class="enlace-lapiz" [routerLink]="['/facturas/editar-factura/', item.id]"><mat-icon
    matListItemIcon>edit</mat-icon></a>
<button class="btn-basura"><mat-icon matListItemIcon>delete</mat-icon></button>
</td> -->