<div class="container-fluid">
    <div class="row">
        <div class="col-12">

        </div>
    </div>

    <div class="row">
        <div class="col-8 text-center mt-3">
            <h1>Profesionales</h1>
        </div>
        <div class="col">
            <button class="mi-btn rojo-marron mb-2 container-fluid">Agregar profesional</button>
            <input type="text" class="form-control mb-2" placeholder="Buscar profesional">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="../../../assets/img/persona1.jpeg" class="card-img-top" alt="Imagen del Trabajador 1">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Trabajador 1</h5>
                    <p class="card-text">Cargo: Desarrollador Web</p>
                    <p class="card-text">Salario: $2500</p>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="../../../assets/img/persona2.jpeg" class="card-img-top" alt="Imagen del Trabajador 2">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Trabajador 2</h5>
                    <p class="card-text">Cargo: Diseñador Gráfico</p>
                    <p class="card-text">Salario: $2200</p>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="../../../assets/img/persona3.jpeg" class="card-img-top" alt="Imagen del Trabajador 3">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Trabajador 3</h5>
                    <p class="card-text">Cargo: Gerente de Proyecto</p>
                    <p class="card-text">Salario: $3000</p>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="../../../assets/img/persona4.jpeg" class="card-img-top" alt="Imagen del Trabajador 4">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Trabajador 4</h5>
                    <p class="card-text">Cargo: Analista de Datos</p>
                    <p class="card-text">Salario: $2800</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-4">
            <div class="card">
                <img src="../../../assets/img/persona5.jpeg" class="card-img-top" alt="Imagen del Trabajador 4">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Trabajador 4</h5>
                    <p class="card-text">Cargo: Analista de Datos</p>
                    <p class="card-text">Salario: $2800</p>
                </div>
            </div>
        </div>

    </div>
</div>