mat-spinner {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    /* Asegura que esté encima del fondo */
}

.profesional-card {
    max-width: 400px;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    /* Asegura que el spinner esté centrado */
}
