<div class="container-fluid">
  <div class="row">
    <div class="col-12">

    </div>
  </div>

  <div class="row">
    <div class="col-8 text-center mt-3">
      <h1>Salas de tratamiento</h1>
    </div>
    <div class="col">
      <button class="mi-btn rojo-marron mb-2 container-fluid">Agregar sala de tratamiento</button>
      <input type="text" class="form-control mb-2" placeholder="Buscar sala de tratamiento">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">


    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="../../../assets/img/salaTratamiento1.jpg" class="card-img-top" alt="Sala de Tratamiento 1">
        <div class="card-body">
          <h5 class="card-title">Sala de Tratamiento 1</h5>
          <p class="card-text">Tipo: Quirófano</p>
          <p class="card-text">Capacidad: 10 personas</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="../../../assets/img/salaTratamiento2.jpg" class="card-img-top" alt="Sala de Tratamiento 2">
        <div class="card-body">
          <h5 class="card-title">Sala de Tratamiento 2</h5>
          <p class="card-text">Tipo: Sala de Espera</p>
          <p class="card-text">Capacidad: 20 personas</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="../../../assets/img/salaTratamiento3.jpg" class="card-img-top" alt="Sala de Tratamiento 3">
        <div class="card-body">
          <h5 class="card-title">Sala de Tratamiento 3</h5>
          <p class="card-text">Tipo: Laboratorio</p>
          <p class="card-text">Capacidad: 8 personas</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="../../../assets/img/salaTratamiento4.jpg" class="card-img-top" alt="Sala de Tratamiento 4">
        <div class="card-body">
          <h5 class="card-title">Sala de Tratamiento 4</h5>
          <p class="card-text">Tipo: Consultorio</p>
          <p class="card-text">Capacidad: 5 personas</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <td><a  class="enlace-lapiz" [routerLink]="['/facturas/editar-factura/', item.id]"><mat-icon
  matListItemIcon>edit</mat-icon></a>
<button class="btn-basura"><mat-icon matListItemIcon>delete</mat-icon></button>
</td> -->