<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <nav aria-label="Page navigation example">

                <select class="page-item">
                    @for (option of itemsPerPageOptions;track option){
                    <option class="page-link" [value]="option">{{ option
                        }}</option>
                    }
                </select>

            </nav>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">

        </div>
    </div>

    <div class="row">
        <div class="col-8 text-center mt-3">
            <h1>Pacientes</h1>
        </div>
        <div class="col">
            <button class="mi-btn rojo-marron mb-2 container-fluid">Agregar Paciente</button>
            <button class="mi-btn rojo-marron mb-2 container-fluid">Agendar Cita</button>
            <input type="text" class="form-control" placeholder="Buscar paciente">
        </div>
    </div>
</div>

<!-- <p *ngFor="let item of items">{{item.id}}</p> -->

<div class="container-fluid mt-3">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha de Nacimiento</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Número</th>
            </tr>
        </thead>
        <tbody>
            @for (item of currentPageItems; track item){
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.birthdate }}</td>
                <td>{{ item.city }}</td>
                <td>{{ item.number }}</td>
                <!-- Agrega más columnas según tus necesidades -->
            </tr>
            }
            <!-- Puedes agregar más filas según sea necesario -->
        </tbody>
    </table>
    @if(itemsPerPage/items.length < 1){ <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @for (page of totalPages;track page){
            <li class="page-item">
                <a class="page-link" (click)="setCurrentPage(page)">{{ page }}</a>
            </li>
            }
        </ul>
        </nav>
        }
</div>