<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <nav aria-label="Page navigation example">

                <select class="page-item">
                    @for (option of itemsPerPageOptions;track option){
                    <option class="page-link" [value]="option">{{ option
                        }}</option>
                    }
                </select>

            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">

        </div>
    </div>

    <div class="row">
        <div class="col-8 text-center mt-3">
            <h1>Pacientes</h1>
        </div>
        <div class="col">
            <button class="mi-btn verde mb-2 container-fluid" (click)="fnCrearPaciente()">Agregar
                Paciente</button>
            <button class="mi-btn verde mb-2 container-fluid" (click)="fnCrearSesion()">Agendar
                Cita</button>
            <input type="text" class="form-control" placeholder="Buscar paciente">
        </div>
    </div>
</div>


@if(crearPaciente){
<div class="fondo-formulario">
    <div class="row formulario-oculto">
        <form [formGroup]="formularioCliente" class="form">
            <div class="col-12">
                <h2>Agregar Paciente</h2>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline">
                    <mat-label> Nombre </mat-label>
                    <input matInput type="text" formControlName="name" />
                    @if(formularioCliente.controls.name.hasError('required')){
                    <mat-error>Ingrese su nombre</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline">
                    <mat-label> Profesion </mat-label>
                    <input matInput type="text" formControlName="profesion" />
                    @if(formularioCliente.controls.profesion.hasError('required')){
                    <mat-error>Ingrese su profesion</mat-error>
                    }
                    @if(formularioCliente.controls.profesion.hasError('minlength')){
                    <mat-error>Ingrese un minimo de 3 caracteres</mat-error>
                    }
                    @if(formularioCliente.controls.profesion.hasError('maxlength')){
                    <mat-error>Ingrese un maximo de 50 caracteres</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline">
                    <mat-label> Email </mat-label>
                    <input matInput type="text" formControlName="email" />
                    @if(formularioCliente.controls.email.hasError('required')){
                    <mat-error>Ingrese su email</mat-error>
                    }
                    @if(formularioCliente.controls.email.hasError('email')){
                    <mat-error>Ingrese un formato correcto</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline">
                    <mat-label> Fecha de Nacimiento </mat-label>
                    <input matInput type="date" formControlName="birthdate" />
                    @if(formularioCliente.controls.birthdate.hasError('required')){
                    <mat-error>Ingrese su fecha de nacimiento</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline">
                    <mat-label> Ciudad </mat-label>
                    <input matInput type="text" formControlName="city" />
                    @if(formularioCliente.controls.city.hasError('required')){
                    <mat-error>Ingrese su ciudad</mat-error>
                    }
                    @if(formularioCliente.controls.city.hasError('minlength')){
                    <mat-error>Ingrese un minimo de 3 caracteres</mat-error>
                    }
                    @if(formularioCliente.controls.city.hasError('maxlength')){
                    <mat-error>Ingrese un maximo de 50 caracteres</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline">
                    <mat-label> Numero contacto </mat-label>
                    <input matInput type="text" formControlName="number" />
                    @if(formularioCliente.controls.number.hasError('required')){
                    <mat-error>Ingrese su numero de telefono</mat-error>
                    }
                    @if(formularioCliente.controls.number.hasError('pattern')){
                    <mat-error>Ingrese un numero de telefono valido</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="row">

                <div class="col-6">
                    <button mat-raised-button (click)="fnPacienteCreado()" color="primary"
                        [disabled]="formularioCliente.invalid">Crear</button>
                </div>
                <div class="col-6">
                    <button mat-raised-button (click)="fnCancelar()" color="accent">Cancelar</button>
                </div>
            </div>

        </form>
    </div>
</div>
}



@if(crearSesion){
    <div class="fondo-formulario">
        <div class="row formulario-oculto">
            <form [formGroup]="formularioCliente" class="form">
                <div class="col-12">
                    <h2>Agregar Paciente</h2>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label> Nombre </mat-label>
                        <input matInput type="text" formControlName="name" />
                        @if(formularioCliente.controls.name.hasError('required')){
                        <mat-error>Ingrese su nombre</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label> Profesion </mat-label>
                        <input matInput type="text" formControlName="profesion" />
                        @if(formularioCliente.controls.profesion.hasError('required')){
                        <mat-error>Ingrese su profesion</mat-error>
                        }
                        @if(formularioCliente.controls.profesion.hasError('minlength')){
                        <mat-error>Ingrese un minimo de 3 caracteres</mat-error>
                        }
                        @if(formularioCliente.controls.profesion.hasError('maxlength')){
                        <mat-error>Ingrese un maximo de 50 caracteres</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label> Email </mat-label>
                        <input matInput type="text" formControlName="email" />
                        @if(formularioCliente.controls.email.hasError('required')){
                        <mat-error>Ingrese su email</mat-error>
                        }
                        @if(formularioCliente.controls.email.hasError('email')){
                        <mat-error>Ingrese un formato correcto</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label> Fecha de Nacimiento </mat-label>
                        <input matInput type="date" formControlName="birthdate" />
                        @if(formularioCliente.controls.birthdate.hasError('required')){
                        <mat-error>Ingrese su fecha de nacimiento</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label> Ciudad </mat-label>
                        <input matInput type="text" formControlName="city" />
                        @if(formularioCliente.controls.city.hasError('required')){
                        <mat-error>Ingrese su ciudad</mat-error>
                        }
                        @if(formularioCliente.controls.city.hasError('minlength')){
                        <mat-error>Ingrese un minimo de 3 caracteres</mat-error>
                        }
                        @if(formularioCliente.controls.city.hasError('maxlength')){
                        <mat-error>Ingrese un maximo de 50 caracteres</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label> Numero contacto </mat-label>
                        <input matInput type="text" formControlName="number" />
                        @if(formularioCliente.controls.number.hasError('required')){
                        <mat-error>Ingrese su numero de telefono</mat-error>
                        }
                        @if(formularioCliente.controls.number.hasError('pattern')){
                        <mat-error>Ingrese un numero de telefono valido</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="row">
    
                    <div class="col-6">
                        <button mat-raised-button (click)="fnPacienteCreado()" color="primary"
                            [disabled]="formularioCliente.invalid">Crear</button>
                    </div>
                    <div class="col-6">
                        <button mat-raised-button (click)="fnCancelar()" color="accent">Cancelar</button>
                    </div>
                </div>
    
            </form>
        </div>
    </div>
    }
<!-- <p *ngFor="let item of items">{{item.id}}</p> -->

<div class="container-fluid mt-3">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha de Nacimiento</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Número</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @for (patients of currentPageItems; track patients){
            <tr>
                <td>{{ patients.name }}</td>
                <td>{{ patients.email }}</td>
                <td>{{ patients.birthdate| formatoFecha}}</td>
                <td>{{ patients.city }}</td>
                <td>{{ patients.number }}</td>
                <td><a class="enlace-lapiz" [routerLink]="['/pacientes/ver-paciente/', patients.id]"><mat-icon
                            matListItemIcon>person</mat-icon></a>
                   
                </td>
                <!-- Agrega más columnas según tus necesidades -->
            </tr>
            }
            <!-- Puedes agregar más filas según sea necesario -->
        </tbody>
    </table>
    @if(itemsPerPage/patients.length < 1){ <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @for (page of totalPages;track page){
            <li class="page-item">
                <a class="page-link" (click)="setCurrentPage(page)">{{ page }}</a>
            </li>
            }
        </ul>
        </nav>
        }
</div>