<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Usuarios Registrados</h5>
                    <p class="card-text">Total: 1500</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pedidos Pendientes</h5>
                    <p class="card-text">Total: 35</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Productos en Inventario</h5>
                    <p class="card-text">Total: 500</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ventas del Mes Actual</h5>
                    <canvas id="ventasChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top 5 Productos más Vendidos</h5>
                    <ol>
                        <li>Producto A - 150 unidades</li>
                        <li>Producto B - 120 unidades</li>
                        <li>Producto C - 100 unidades</li>
                        <li>Producto D - 90 unidades</li>
                        <li>Producto E - 80 unidades</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
