<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <mat-card class="example-card">
                <mat-card-header>
                    
                    <mat-card-title>{{patients.name}}</mat-card-title>
                    <mat-card-subtitle>{{patients.profesion}}</mat-card-subtitle>
                </mat-card-header>
                @if(patients.img){
                <img mat-card-image [src]="patients.img">
                }
                @else {
                <img mat-card-image src="../../../assets/img/pacienteNoImagen.jpg">
                }
                <mat-card-content>
                    <br>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                Datos paciente
                            </mat-card-title>
                            <mat-card-subtitle>
                                <p>Telefono: {{patients.number}}</p>
                                <p>Email: {{patients.email}}</p>
                                <p>Ciudad: {{patients.city}}</p>
                                <p>Fecha de Cumpleaños: {{patients.birthdate |formatoFecha}}</p>
                            </mat-card-subtitle>

                        </mat-card-header>

                    </mat-card>
                </mat-card-content>

            </mat-card>
        </div>

        <div class="col">
            <div class="row">
                <mat-tab-group>
                    <mat-tab label="Datos">
                       En creacion

                    </mat-tab>
                    <mat-tab label="Sesiones">
                        <mat-accordion>
                            @for(sesion of sesiones;track sesiones){
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{sesion.motivo}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        {{sesion.diagnostico}} - {{sesion.fecha|formatoFecha}}
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>{{sesion.tratamiento}}</p>
                            </mat-expansion-panel>
                            }
                        </mat-accordion>
                    </mat-tab>

                </mat-tab-group>
            </div>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col"></div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <button mat-raised-button color="accent" [routerLink]="['/pacientes']">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>